<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vellore Institute Of Technology - Bhopal | Sign-In/Register</title>
    <link rel="stylesheet" href="../static/CSS/LandingPage/classes.css">
    <link rel="stylesheet" href="../static/CSS/LandingPage/stylesBody.css">
</head>
<body>
    <header>
        <div class="nav-bar-wrapper primary-grid">
            <div class="nav-bar-top justify-center primary-flex padding-main">
                <img src="../static/StaticImages/vitBhopal.png" alt="" class="nav-image">
                <div class="primary-grid padding-main">
                    <h1 class="nav-font-large nav-font text-center primary-grid align-center">वी.आई.टी भोपाल</h1>
                    <h1 class="nav-font-large nav-font text-center primary-grid">VIT Bhopal University</h1>
                </div>
            </div>
        </div>
    </header>
    <main class="width-full">
        <div class="text-center align-center padding-main primary-grid width-half padding-extra borders blur">
            <h1 class="nav-font-large nav-font margin-extra">Register</h1>
            <form action="/" method="post" class="justify-center primary-grid">
                <div class="text-center align-center primary-flex justify-end margin-main">
                    <h2 class="nav-font-large margin-main">Name : </h2>
                    <input type="text" placeholder="Name" class="text-center form-width">
                </div>
                <div class="text-center align-center primary-flex margin-main">
                    <h2 class="nav-font-large margin-main">Registration Number : </h2>
                    <input type="text" placeholder="Registration Number" class="text-center form-width">
                </div>
                <div class="text-center align-center primary-flex justify-end margin-main">
                    <h2 class="nav-font-large margin-main">Phone Number : </h2>
                    <input type="text" placeholder="Phone Number" class="text-center form-width">
                </div>
                <div class="text-center align-center primary-flex justify-end margin-main">
                    <h2 class="nav-font-large margin-main">Email-Id : </h2>
                    <input type="email" placeholder="Email-Id" class="text-center form-width">
                </div>
                <div class="text-center align-center primary-flex justify-end margin-main">
                    <h2 class="nav-font-large margin-main">Password : </h2>
                    <input type="password" placeholder="Password" class="text-center form-width">
                </div>
                <div class="text-center align-center primary-flex justify-end margin-main">
                    <h2 class="nav-font-large margin-main">Confirm Password : </h2>
                    <input type="password" placeholder="Confirm Password" class="text-center form-width">
                </div>
                <div class="primary-flex justify-center font-rem">
                    <input type="checkbox" class="mar-right"> Remember Me
                </div>
                <a href="" class="padding font">Already Have An Account? Sign-In</a>
                <div class="justify-center padding-main">
                    <button type="submit" class="width-content primary-btn main-font padding-btn">Submit</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>